body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
/* phần header*/
.header {

    background-color: white;
    padding: 0px;
    text-align: center;
    height:130px;
}

    .header .logo {
        float: left;
        width: 281px;
        height: 95px;
        margin-top:5px;
        margin-left: 10px;

    }
    .header .logo img {
        width:280px;
        height:95px;
       
    }
    .header .search {
        float: left;
        width: 440px;
        height: 95px;
        margin-top: 20px;
        margin-left:20px;
    }
    .header .dn-dk {
        float: left;
        width: 180px;
        height: 60px;
        margin-top: 38px;
        margin-left:15px;
      
    }
    .header .check-order {
        height: 45px;
        width: 120px;
        background-color: red;
        float: right;
        margin-right: 50px;
        margin-top: 40px;
        border: solid 1px red;
    }
    .header .check-order2 {
        float: left;
        height: 45px;
        width: 140px;
        margin-top: 38px;
        margin-right: 50px;
        margin-left:30px;
        background-color: red;
        color: white;
    }
    .header .check-order2 h6 {
        width: 68px;
        height: 30px;
        float: left;
        margin-right: 30px;
        color: white;
    }

    .header .tk {
        height: 45px;
        width: 120px;
        background-color: none;
        float: right;
        margin-right: 50px;
        margin-top: 40px;
       
    }
    .header .check-order h6{
            width:68px;
            height: 26px;
            float:left;
            margin-right:30px;
            color:white; 
            font-size:14px;
    }
    .header .giohang {
        width: 170px;
        height: 95px;
        float: left;
        margin-top: 20px;
        border-left: 1px gray solid;
        border-right: 1px gray solid;
    }
        .header .giohang img {
            height: 50px;
            width: 64px;
            margin-right:5px;
        }
    .header .search .textbox3:focus {
        outline: 0;
    }   
/* phần menu ngang*/
#navbar {
 
    overflow: hidden;
    background-color: #00483e;
    height: 45px;
     width:100%;
}
        #navbar ul{ margin-left:0px;}
            #navbar ul li {
                width: 140px;
                float: left;
              
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                list-style: none;
                margin-left: 0px;
            }
            #navbar ul li a {
                list-style: none;
                color: white;
                text-decoration:none;
               
            }
                #navbar ul li:hover {
                    background-color: #009a82;
                }


.spinner {
    display: none;
    position: absolute;
    background-color: #00483e;
    width: 200px;
    z-index: 1;
    text-align: center;
}

#navbar ul li:hover .spinner {
    display: block;
    margin-top: 7px;
    margin-left: 0px;
}
/*phần nội dung ở giữa */
.content {
    position:relative;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 60px;
    }
.dropbtn {
    background-color:red;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    height:44px;
    width:119px;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #00483e;
        height: 45px;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width:198px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
        font-size:13px;
        text-align:left;
        line-height:25px;
        padding:10px;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
#slide {
    width: 100%;
    height: 300px;
    background-color: red;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: Sienna;
}
